<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="vendors/css/bootstrap.min.css" rel="stylesheet" />
<script src="vendors/bootstrap/bootstrap.min.js"></script>

<title>Template</title>
</head>
<body>

 <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="#"><img src="assets/img/gallery/logo.png" width="118" alt="logo" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
    <a class="btn btn-sm btn-outline-primary rounded-pill order-1 order-lg-0" href="/logout" style="margin-left:90%">Sign Out</a>
          </div>
        </div>
      </nav>
      <br>
<br>
<br>
<br>
<br>
	<div class="container">
		<div class="col-lg-12 grid-margin stretch-card ">
			<div class="card">
				<div class="card-body">
					<h6>
						Bienvenue <span sec:authentication="name"></span>
					</h6>
					<h4 class="card-title">Liste des Tickets</h4>
					<br /> <br /> <br />
					<div class="table-responsive">
						<div sec:authorize="hasRole('ADMIN')">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">id</th>
										<th scope="col">Description</th>
										<th scope="col">Urgence</th>
										<th scope="col">Environnement</th>
										<th scope="col">Logiciel</th>
										<th scope="col">Resolution</th>
										<th scope="col">Attribution</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="p:${ticketsnonatr}">
										<td th:text="${p.id}">id</td>
										<td th:text="${p.description}">Description</td>
										<td th:text="${p.urgence}"></td>
										<td th:text="${p.environnement}"></td>
										<td th:text="${p.logiciel}"></td>
										<td th:text="${p.resolu}"></td>
										<td>
											<button th:if="${p.Attribue == 'non atribuée'}"
												type="button" class="btn btn-outline-success" onclick="myFunction()">Attribué</button>
												<script>
												function myFunction() {
												  document.getElementById("myP").hidden = false;
												  document.getElementById("myB").hidden = false;
												}
												</script>
												<br/>
												<br/>
												<form th:action="@{/__${p.id}__}" method="POST"   th:object="${dev}">
												<select class="form-select" aria-label="Default select example" id="myP"  th:each="d:${userDev}" hidden>
												  <option selected>Open this select menu</option>
												  <option value="${d}"><p th:text="${d}"></p></option>
												  
												</select>
												<br/>
												<br/>
												<button th:if="${p.Attribue == 'non atribuée'}"
												type="submit" class="btn btn-success"  id="myB" hidden>Attribue</button>
												</form>
										</td>
									</tr>
								</tbody>
							</table>
						</div>


						<div sec:authorize="hasRole('CLIENT')">
							<a role="button" class="btn btn-primary" th:href="@{/creerTicket}">Créer Ticket</a>
							<br/>
							<br/>
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">id</th>
										<th scope="col">Description</th>
										<th scope="col">Urgence</th>
										<th scope="col">Environnement</th>
										<th scope="col">Logiciel</th>
										<th scope="col">Resolution</th>
										<th scope="col">Attribution</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="p:${ticketClient}">
										<td th:text="${p.id}">id</td>
										<td th:text="${p.description}">Description</td>
										<td th:text="${p.urgence}"></td>								
										<td th:text="${p.environnement}"></td>
										<td th:text="${p.logiciel}">Logiciel</td>
										<td th:text="${p.resolu}">Resu</td>
											<td th:text="${p.Attribue}">attribue</td>
		
										

									</tr>
								</tbody>
							</table>
						</div>

						<div sec:authorize="hasRole('DEV')">

							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">id</th>
										<th scope="col">Description</th>
										<th scope="col">Urgence</th>
										<th scope="col">Environnement</th>
										<th scope="col">Logiciel</th>
										<th scope="col">Resolution</th>
										<th scope="col">Attribution</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="p:${ticketDev}">
										<td th:text="${p.id}">id</td>
										<td th:text="${p.description}">Description</td>
										<td th:text="${p.urgence}"></td>
										<td th:text="${p.environnement}"></td>
										<td th:text="${p.logiciel}"></td>
										<td th:text="${p.resolu}"></td>
										<td  th:if="${p.Attribue == 'en cours de traitement'}">
											<button
												type="button" class="btn btn-outline-success" onclick="myFunction()">Status</button>
												<script>
												function myFunction() {
												  document.getElementById("myP").hidden = false;
												  document.getElementById("myB").hidden = false;
												}
												</script>
												<br/>
												<br/>
												<form th:action="@{/update/__${p.id}__}" method="POST"   th:object="${ticket}">
												<select class="form-select" aria-label="Default select example" id="myP" hidden>
												  <option selected>Open this select menu</option>
												  <option value="Résolu">Résolu</option>
												  
												</select>
												<br/>
												<br/>
												<button th:if="${p.Attribue == 'en cours de traitement'}"
												type="submit" class="btn btn-success"  id="myB" hidden>Résolu</button>
												</form>
										</td>
										<td th:unless="${p.Attribue == 'en cours de traitement'}">Résolu</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>



		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"></script>
</body>
</html>